<div class="flex items-center justify-center h-screen gap-0">

  <h1 class="text-center align-center item-ratio before:content-['_'] absolute m-6 w-[max-content] font-mono text-2xl before:absolute before:inset-0 before:animate-typewriter before:bg-[var(--sl-color-black)] after:opacity-[0] after:absolute after:inset-0 after:w-[0.125em] after:animate-caret after:bg-[var(--sl-color-white)] after:content-['_'] animate-rotateCcw">&#123 &#125</h1> 
  </div> 
